﻿@model MyTwitter.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Content
                </th>
                <th>
                    CreatedOn
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var post in Model.Posts)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => post.Content)
                </td>
                <td>
                    @post.CreatedOn.ToShortDateString()
                </td>
            </tr>
        
        }
        </tbody>
        </table>
</div>
<div>
   @* <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
    <a asp-action="Start" asp-controller="Chat" asp-route-userId="@Model.User.Id">Написать</a>
</div>
