﻿@model IEnumerable<MyTwitter.Models.ApplicationUser>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<form method="get">
    <input type="text" name="key"/>
    <input type="submit" value="Найти"/>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.UserName)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
